@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}

:root {
  --cor1:#ff0000;
  --cor2:#0083fd;
  --cor3:#ffa600;
  --cor4:#00ff2a;
  --cor5:#00fff2;
  --cor6:#cc00ff;
  --cor7:#ffffff;
  --basico1: white;
  --basico2: black;
  --basico3: #b6b6b6;
}

html {
  width: 100dvw;
  height: 100dvh;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: var(--basico2);
}
header h1 {
  color: var(--basico1);
}
header svg {
  background-color: red;
  color: rgb(255, 255, 255);
  width: 70px;
}

main {
  width: 100%;
  display: flex;
  flex-grow: 17;
  background-color: var(--basico1);
}
main nav {
  width: 15%;
  background-color: var(--basico2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-evenly;
  padding: 10px 0;
}
main nav a {
  width: 90%;
  padding: 15px 10px;
  background-color: var(--cor4);
  color: var(--basico2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #Display_dashboard {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  background-color: var(--basico3);
}
main #Display_dashboard .scene {
  perspective: 800px;
  width: 400px;
  height: 400px;
}
main #Display_dashboard .cube {
  width: 400px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  cursor: grab;
  /* posição inicial */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(-20deg) rotateY(30deg);
}
main #Display_dashboard .cube:active {
  cursor: grabbing;
}
main #Display_dashboard .face {
  position: absolute;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 2px solid var(--basico2);
  opacity: 1;
}
main #Display_dashboard {
  /* metade da largura = 100px */
}
main #Display_dashboard .front {
  transform: translateZ(200px);
  background-color: var(--cor1);
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: baseline;
}
main #Display_dashboard .back {
  transform: rotateY(180deg) translateZ(200px);
  background-color: var(--cor2);
}
main #Display_dashboard .right {
  transform: rotateY(90deg) translateZ(200px);
  background-color: var(--cor3);
}
main #Display_dashboard .left {
  transform: rotateY(-90deg) translateZ(200px);
  background-color: var(--cor4);
}
main #Display_dashboard .top {
  transform: rotateX(90deg) translateZ(200px);
  background-color: var(--cor5);
}
main #Display_dashboard .bottom {
  background-color: var(--cor6);
  transform: rotateX(-90deg) translateZ(200px);
}
main #Display_dashboard .tela_desafio {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}
main #Display_dashboard .tela_desafio h2 {
  text-align: center;
  border-bottom: 2px solid var(--basico2);
  width: 90%;
  font-size: small;
  margin: auto;
}
main #Display_dashboard .tela_desafio .conversor {
  color: black;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main #Display_dashboard .tela_desafio .conversor .conversao, main #Display_dashboard .tela_desafio .conversor .convertido {
  border: 1px solid var(--basico2);
  width: 90%;
  height: 45%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
}
main #Display_dashboard .tela_desafio .conversor .conversao h4, main #Display_dashboard .tela_desafio .conversor .conversao h3, main #Display_dashboard .tela_desafio .conversor .convertido h4, main #Display_dashboard .tela_desafio .conversor .convertido h3 {
  font-size: 0.6em;
}
main #Display_dashboard .tela_desafio .conversor .conversao svg, main #Display_dashboard .tela_desafio .conversor .convertido svg {
  width: 10%;
  cursor: pointer;
}
main #Display_dashboard .tela_desafio .conversor .conversao #form_conversor, main #Display_dashboard .tela_desafio .conversor .convertido #form_conversor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
main #Display_dashboard .tela_desafio .conversor .conversao #form_conversor label, main #Display_dashboard .tela_desafio .conversor .convertido #form_conversor label {
  font-size: small;
}
main #Display_dashboard .tela_desafio .conversor .conversao #form_conversor p, main #Display_dashboard .tela_desafio .conversor .convertido #form_conversor p {
  display: flex;
  gap: 10px;
  font-size: small;
  width: 50%;
}
main #Display_dashboard .tela_desafio .conversor .conversao #form_conversor p input, main #Display_dashboard .tela_desafio .conversor .convertido #form_conversor p input {
  width: 100%;
  padding: 0;
  font-size: small;
  outline: none;
  border: none;
}
main #Display_dashboard .tela_desafio .calculadora_imc {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
main #Display_dashboard .tela_desafio .calculadora_imc #form_calcular_imc {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
  align-items: center;
  padding: 10px;
  font-size: small;
}
main #Display_dashboard .tela_desafio .calculadora_imc #form_calcular_imc label {
  font-size: small;
}
main #Display_dashboard .tela_desafio .calculadora_imc #form_calcular_imc h4 {
  font-size: small;
}
main #Display_dashboard .tela_desafio .calculadora_imc #form_calcular_imc input {
  text-align: center;
  font-size: small;
  border-radius: 50px;
  border: none;
  outline: none;
}
main #Display_dashboard .tela_desafio .calculadora_imc #result_imc, main #Display_dashboard .tela_desafio .calculadora_imc #result_faixa_imc {
  font-size: 0.7em;
}
main #Display_dashboard .selecionado {
  right: 5%;
}

footer {
  width: 100%;
  display: flex;
  flex-grow: 1;
  background-color: var(--basico2);
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer a {
  color: white;
}/*# sourceMappingURL=estilos.css.map */