*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
:root
{
    --cor1:#ff0000;
    --cor2:#0083fd;
    --cor3:#ffa600;
    --cor4:#00ff2a;
    --cor5:#00fff2;
    --cor6:#cc00ff;
    --cor7:#fbff00;
    --basico1: white;
    --basico2: black;
    --basico3: #b6b6b6;
    // --cor1:#F89bDD;
    // --cor2:#E07BDA;
    // --cor3:#B65FC8;
    // --cor4:#8547B0;
    // --cor5:#573299;
    // --cor6:#2C2081;
    // --cor7:#121C69;
}
html
{
    width: 100dvw;
    height: 100dvh;
}
body
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header
{
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: var(--basico2);
    h1
    {
        color: var(--basico1);
    }
    svg
    {
        background-color: red;
        color: rgb(255, 255, 255);
        width: 70px;
    }
}
main
{
    width: 100%;
    display: flex;
    flex-grow: 17;
    background-color: var(--basico1);
    nav
    {
        width: 15%;
        background-color: var(--basico2);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        justify-content: space-evenly;
        padding: 10px 0;
        a
        {
            width: 90%;
            padding: 15px 10px;
            background-color: var(--cor4);
            color: var(--basico2);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    #Display_dashboard
    {
        width: 85%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        transition: 0.2s ease-in-out;
        background-color: var(--basico3);
        //elementos 3D
        .scene
        { 
            perspective: 800px; 
            width: 400px;
            height: 400px;
        }
        .cube {
            width: 400px;
            height: 400px;
            position: relative;
            transform-style: preserve-3d;
            cursor: grab;
            /* posição inicial */
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotateX(-20deg) rotateY(30deg);
            // transition: transform 0.5s ease;
        }
        .cube:active {
            cursor: grabbing;
        }

        .face {
            position: absolute;
            width: 400px;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            border: 2px solid var(--basico2);   
            opacity: 1;
        }

        /* metade da largura = 100px */
        .front
        {
            transform: translateZ(200px);
            background-color: var(--cor1);
            
            height: 100%;
            width: 100%;
            display: flex;
            align-content: center;
            justify-content: baseline;
        }

        .back
        {
            transform: rotateY(180deg) translateZ(200px);
            background-color: var(--cor2);
        }

        .right  
        { 
            transform: rotateY(90deg) translateZ(200px);
            background-color: var(--cor3);
        }
        .left
        {
            transform: rotateY(-90deg) translateZ(200px);
            background-color: var(--cor4);
        }

        .top
        { 
            transform: rotateX(90deg) translateZ(200px); 
            background-color: var(--cor5);
        }
        .bottom 
        { 
            background-color: var(--cor6);
            transform: rotateX(-90deg) translateZ(200px); 
        }
        //Fim elementos 3D

        .tela_desafio
        {
            width: 100%;
            height: 100%;
            // border: 3px solid var(--cor1);
            border-radius: 10px;
            transition: 0.2s ease-in-out;
            display: flex;
            flex-direction: column;
            h2
            {
                text-align: center;
                border-bottom: 2px solid var(--basico2);
                width: 90%;
                // height: fit-content;
                font-size: small;
                margin: auto;
            }
            .conversor
            {

                color: black;
                height: 95%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                .conversao,.convertido
                {
                    border: 1px solid var(--basico2);
                    width: 90%;
                    height: 45%;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    background-color: white;
                    h4,h3
                    {
                        font-size: 0.6em;
                    }
                    svg
                    {
                        width: 10%;
                        cursor: pointer;
                    }
                    #form_conversor
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        label
                        {
                            font-size: small;
                        }
                        p
                        {
                            display: flex;
                            gap: 10px;
                            font-size: small;
                            width: 50%;
                            input
                            {
                                width: 100%;
                                padding: 0;
                                font-size: small;
                                outline: none;
                                border: none;
                                
                            }
                        }
                    }
                }
            }
            .calculadora_imc
            {
                height: 90%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                #form_calcular_imc
                {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: 50%;
                    align-items: center;
                    // border: 1px solid;
                    padding: 10px;
                    font-size: small;
                    label
                    {
                        font-size: small;
                    }
                    h4
                    {
                        font-size: small;
                    }
                    input
                    {
                        text-align: center;
                        font-size: small;
                        border-radius: 50px;
                        border: none;
                        outline: none;
                    }
                }
                #result_imc,#result_faixa_imc
                {
                    font-size: 0.7em;
                }
            }
            .celsius_calculator,.kmh_calculator,.kg_calculator
            {
                height: 95%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                .celsius_form, .fahrenheit_form,.kmh_form,.mph_form,.kg_form,.lbs_form
                {
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 7px;
                    border-radius: 10px;
                    label
                    {
                        font-size: 0.7em;
                    }
                    input
                    {
                        width: fit-content;
                        padding: 7px 0px;
                        text-align: center;
                        outline: none;
                        border: none;
                    }
                }
            }
            .calculo_regra_3
            {
                height: 95%;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                color: white;
                p
                {
                    text-align: center;
                }
                .entradas_conhecidas_form,.calculas_regra_form
                {
                    width: 90%;
                    margin: auto;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    gap: 5px;
                    label
                    {
                        font-size: 0.7em;
                        font-weight: bold;
                    }
                    input
                    {
                        width: 70%;
                        text-align: center;
                        padding: 7px 0px;
                        background-color: transparent;
                        color: var(--basico1);
                        outline: none;
                        border: none;
                        font-weight: bold;
                        font-size: 0.5em;
                    }
                    input::placeholder
                    {
                        color: var(--basico1);
                    }
                }
            }
        }
        .selecionado
        {
            right: 5%;
        }
    }

}
footer
{
    width: 100%;
    display: flex;
    flex-grow: 1;
    background-color: var(--basico2);
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    a
    {
        color: white;
    }
}

@media screen and (max-width: 600px) {
    body
    {
        overflow: hidden;
    }
    main
    {
        flex-direction: column;
        nav
        {
            width: 100%;
            flex-direction: row;
            overflow-x: scroll;
            overflow-y: hidden;
            padding: 10px;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 120px 120px 120px 120px 120px 120px 120px; 
            justify-content: start;
            align-items: center;
            a
            {
                width: 100%;
                font-size: 1em;
            }
        }
        #Display_dashboard
        {
            width: 100%;
            .scene
            { 
                perspective: 600px; 
                width: 250px;
                height: 250px;
            }
            .cube {
                width: 250px;
                height: 250px;
                position: relative;
                transform-style: preserve-3d;
                cursor: grab;
                /* posição inicial */
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotateX(-20deg) rotateY(30deg);
                touch-action: none;
                // transition: transform 0.5s ease;
            }
            .cube:active {
                cursor: grabbing;
            }

            .face {
                position: absolute;
                width: 250px;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                border: 2px solid var(--basico2);   
                opacity: 1;
            }

            /* metade da largura = 100px */
            .front
            {
                transform: translateZ(125px);
            }

            .back
            {
                transform: rotateY(180deg) translateZ(125px);
                background-color: var(--cor2);
            }

            .right  
            { 
                transform: rotateY(90deg) translateZ(125px);
                background-color: var(--cor3);
            }
            .left
            {
                transform: rotateY(-90deg) translateZ(125px);
                background-color: var(--cor4);
            }

            .top
            { 
                transform: rotateX(90deg) translateZ(125px); 
                background-color: var(--cor5);
            }
            .bottom 
            { 
                background-color: var(--cor6);
                transform: rotateX(-90deg) translateZ(125px); 
            }
            .tela_desafio
            {
                .conversor
                {
                    .conversao,.convertido
                    {
                        h4
                        {
                            font-size: 0.6em;
                        }
                        h3
                        {
                            font-size: 1em;
                            margin-bottom: -15px;
                            margin-top: -15px;
                        }
                        svg
                        {
                            width: 10%;
                            cursor: pointer;
                        }
                        #form_conversor
                        {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            label
                            {
                                font-size: small;
                            }
                        }
                    }
                }
                .celsius_calculator, .kmh_calculator,.kg_calculator
                {
                    flex-direction: column;
                }
            }
    }
  }
}

