*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
:root
{
    --cor1:#ff0000;
    --cor2:#0083fd;
    --cor3:#ffa600;
    --cor4:#00ff2a;
    --cor5:#00fff2;
    --cor6:#cc00ff;
    --basico1: white;
    --basico2: black;
}
html
{
    width: 100dvw;
    height: 100dvh;
}
body
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header
{
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: var(--basico2);
    h1
    {
        color: var(--basico1);
    }
}
main
{
    width: 100%;
    display: flex;
    flex-grow: 17;
    background-color: var(--basico1);
    nav
    {
        width: 15%;
        background-color: var(--basico2);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        justify-content: space-evenly;
        padding: 10px 0;
        a
        {
            width: 90%;
            padding: 15px 10px;
            background-color: var(--cor4);
            color: var(--basico2);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    #Display_dashboard
    {
        width: 85%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        transition: 0.2s ease-in-out;
        background-color: var(--cor1);
        .tela_desafio
        {
            width: 90%;
            height: 90%;
            border: 3px solid var(--cor1);
            background-color: white;
            border-radius: 10px;
            padding: 5px;
            position: absolute;
            transition: 0.2s ease-in-out;
            right: 100%;
            h2
            {
                text-align: center;
                border-bottom: 2px solid var(--basico2);
                width: 90%;
                margin: auto;
            }
            .conversor
            {
                background-color: white;
                height: 95%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                .conversao,.convertido
                {
                    border: 1px solid var(--basico2);
                    width: 90%;
                    height: 45%;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    h3
                    {
                        font-size: 2em;
                    }
                    #form_conversor
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        p
                        {
                            display: flex;
                            gap: 10px;
                            font-size: 2em;
                            width: 50%;
                            input
                            {
                                width: 100%;
                                padding: 0;
                                font-size: 1em;
                                outline: none;
                                border: none;
                                
                            }
                        }
                    }
                }
            }
            .calculadora_imc
            {
                height: 90%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                #form_calcular_imc
                {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: 50%;
                    align-items: center;
                    // border: 1px solid;
                    padding: 10px;
                    font-size: 1.2em;
                    input
                    {
                        text-align: center;
                        font-size: 1.2em;
                        border-radius: 50px;
                        border: none;
                        outline: none;
                    }
                }
                #result_imc,#result_faixa_imc
                {
                    font-size: 2em;
                }
            }
        }
        .selecionado
        {
            right: 5%;
        }
    }

}
footer
{
    width: 100%;
    display: flex;
    flex-grow: 1;
    background-color: var(--basico2);
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    a
    {
        color: white;
    }
}